.terms_main {
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-areas: 
        'header header header'
        'body body body'
        'icons icons icons';
    grid-template-rows: 45px 443px 60px;
}

.terms_main-header {
    grid-area: header;
    background-color: #3D59A9;
}

#lblTitleTerms {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

.terms_main-body {
    grid-area: body;
}

.terms_main-icons {
    grid-area: icons;
    border: 1px solid #3D59A9;
}
