.buys_articulos-main {
    height: 100%;
    display: grid;
    grid-template-areas: 
        'title'
        'header'
        'table'
        'footer';
    grid-template-rows: 5% 30% 50% 15%;
}

.buys_articulos-title {
    grid-area: title;
    padding-top: 3px;
    background-color: #3D62DB;
}

#lblArticulosTitle {
    font-size: 15px;
    color: white;
}

.buys_articulos-header {
    grid-area: header;
    border: 1px solid black;
}

.buys_articulos-table {
    grid-area: table;
    border: 1px solid rgb(208, 204, 204);
    margin: 5px;
    border-radius: 5px;
}

.buys_articulos-footer {
    grid-area: footer;
}
