.salesAgent_icons-main {
    border: 1px solid black;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'btnNuevo btnBuscar btnRegistrar btnAnular btnCerrar';
    grid-template-columns: 8% 8% 8% 8% 8%;
}

.salesAgent_icons-icon-nuevo {
    display: grid;
    grid-area: btnNuevo;
    height: 100%;
    grid-template-areas: 
        'iconNue'
        'lblNue';
    grid-template-rows: 60% 40%;
}

.salesAgent_icons-icon-nuevo-icon {
    color: #F68A1D;
    grid-area: iconNue;
    padding-top: 4px;
}

#iconNuevoSalesAgent {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblNuevoSalesAgent {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblNue;
    text-align: center;
}

.salesAgent_icons-icon-Buscar {
    display: grid;
    grid-area: btnBuscar;
    height: 100%;
    grid-template-areas: 
        'iconBus'
        'lblBus';
    grid-template-rows: 60% 40%;
}

.salesAgent_icons-icon-Buscar-icon {
    color: #F68A1D;
    grid-area: iconBus;
    padding-top: 4px;
}

#iconBusSalesAgent {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblBuscarSalesAgent {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblBus;
    text-align: center;
}

.salesAgent_icons-icon-registrar {
    display: grid;
    grid-area: btnRegistrar;
    height: 100%;
    grid-template-areas: 
        'iconReg'
        'lblReg';
    grid-template-rows: 60% 40%;
}

.salesAgent_icons-icon-registrar-icon {
    color: #F68A1D;
    grid-area: iconReg;
    padding-top: 4px;
}

#iconRegistrarSalesAgent {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblRegistrarSalesAgent {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblReg;
    text-align: center;
}

.salesAgent_icons-icon-anular {
    display: grid;
    grid-area: btnAnular;
    height: 100%;
    grid-template-areas: 
        'iconAnu'
        'lblAnu';
    grid-template-rows: 60% 40%;
}

.salesAgent_icons-icon-anular-icon {
    color: #F68A1D;
    grid-area: iconAnu;
    padding-top: 4px;
}

#iconAnularSalesAgent {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblAnularSalesAgent {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblAnu;
    text-align: center;
}

.salesAgent_icons-icon-cerrar {
    display: grid;
    grid-area: btnCerrar;
    height: 100%;
    grid-template-areas: 
        'iconCer'
        'lblCer';
    grid-template-rows: 60% 40%;
}

.salesAgent_icons-icon-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCer;
    padding-top: 4px;
}

#iconCerrarSalesAgent {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarSalesAgent {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCer;
    text-align: center;
}

