.checkOrders_icons-main {
    height: 100%;
    display: grid;
    grid-template-areas: 
        'btnBuscar btnEliminar btnCerrar';
    grid-template-columns: 8% 8% 8%;
}

.checkOrders_icons-Buscar {
    grid-area: btnBuscar;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconBuscar'
        'lblBuscar';
    grid-template-rows: 60% 40%;
}

.checkOrders_icons-Buscar-icon {
    color: #F68A1D;
    grid-area: iconBuscar;
    padding-top: 4px;
}

#iconBusCK {
    cursor: pointer;
    height: 100%;
    width: 20%;
}

#lblBuscarCK {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblBuscar;
    text-align: center;
}

.checkOrders_icons-eliminar {
    grid-area: btnEliminar;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconEli'
        'lblEli';
    grid-template-rows: 60% 40%;
}

.checkOrders_icons-eliminar-icon {
    color: #F68A1D;
    grid-area: iconEli;
    padding-top: 4px;
}

#iconEliminarCK {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblEliminarCK {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblEli;
    text-align: center;
}

.checkOrders_icons-cerrar {
    grid-area: btnCerrar;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconCerrar'
        'lblCerrar';
    grid-template-rows: 60% 40%;
}

.checkOrders_icons-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCerrar;
    padding-top: 4px;
}

#iconCerrarCK {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarCK {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCerrar;
    text-align: center;
}

// .checkOrders_icons-user {
//     display: grid;
//     grid-area: user;
//     grid-template-areas: 
//         'lblUser inputUser lblSistema';
//     grid-template-columns: 25% 20% 30%;
// }

// #lblUserCustomers {
//     background-color: #3D62DB;
//     color: white;
//     font-size: 15px;
//     grid-area: lblUser;
//     height: 40%;
//     margin-left: 10px;
//     margin-top: 20px;
//     width: 80%;
// }

// #txtUserCustomers {
//     font-size: 15px;
//     grid-area: inputUser;
//     height: 40%;
//     margin-top: 20px;
//     text-align: start;
//     width: 80%;
// }

// #lblSistemaCustomers {
//     background-color: #A0A0A0;
//     color: white;
//     font-size: 15px;
//     grid-area: lblSistema;
//     height: 40%;
//     margin-left: 10px;
//     margin-top: 20px;
//     padding-left: 5px;
//     padding-top: 2px;
//     text-align: start;
//     width: 100%;
// }