.take_main {
    display: grid;
    height: 100%;
    text-align: center;
    grid-template-areas: 
        'header'
        'body'
        'footer';
    grid-template-rows: 40px 448px 60px;
}

.take_header {
    grid-area: header;
    background-color: #385ba5;
}

#lblTitleTake {
    color: white;
    font-size: 30px;
    padding-top: 2px;
    text-align: center;
}

.take_body {
    grid-area: body;
}

.take_footer {
    grid-area: footer;
    border: 1px solid black;
}
