.openCash_detalleTotal-main {
    border: 1px solid black;
    display: grid;
    height: 95%;
    margin-left: 25px;
    margin-right: 25px;
    grid-template-areas: 
        'leftSide rightSide';
    grid-template-columns: 50% 50%;
}

.openCash_detalleTotal-leftSide {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-area: leftSide;
    height: 95%;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: 
        'titleLeft'
        'tableLeft';
    grid-template-rows: 20px 112px;
}

.openCash_detalleTotal-leftSide-title {
    background-color: #3D62DB;
    grid-area: titleLeft;
}

#lblleftSideTileOpenCash {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
}

.openCash_detalleTotal-leftSide-table {
    grid-area: tableLeft;
}

.openCash_detalleTotal-table {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.openCash_detalleTotal-table-header {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 500px;
}

.openCash_detalleTotal-modal-table-body {
    text-align: start;
    font-style: normal;
}

.openCash_detalleTotal-modal-table-body-row {
    &:hover {
        cursor: pointer;
        background-color: #ACA9A9;
    }
}

.openCash_detalleTotal-modal-table-body-cell {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
    height: 25.5px;
    width: 50px;
}

.openCash_detalleTotal-rightSide {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: grid;
    grid-area: rightSide;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: 
        'titleRight'
        'inputRight';
    grid-template-rows: 15% 85%;
}

.openCash_detalleTotal-rightSide-title {
    background-color: #3D62DB;
    grid-area: titleRight;
}

#lblrightSideTileOpenCash {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
}

.openCash_detalleTotal-rightSide-input {
    grid-area: inputRight;
    margin-top: 5px;
}

#txtobservacionInputOpenCash {
    font-size: 15px;
    height: 95%;
    text-align: start;
    width: 100%;
    resize: none;
}

#txtMontoTopeOpenCashDetalleTotal {
    text-align: start;
    padding-left: 2px;
    font-size: 12px;
}