.inventory_adjustment-icons-main {
    display: grid;
    height: 100%;
    grid-template-areas: 
        'btnNuevo btnBuscar btnRegistrar btnAnular btnCerrar user';
    grid-template-columns: 8% 8% 8% 8% 8% 40%;
}

.inventory_adjustment-icons-nuevo {
    display: grid;
    grid-area: btnNuevo;
    height: 100%;
    grid-template-areas: 
        'iconNue'
        'lblNue';
    grid-template-rows: 60% 40%;
}

.inventory_adjustment-icons-nuevo-icon {
    color: #F68A1D;
    grid-area: iconNue;
    padding-top: 4px;
}

#iconNuevoinvA {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblNuevoinvA {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblNue;
    text-align: center;
}

.inventory_adjustment-icons-Buscar {
    display: grid;
    grid-area: btnBuscar;
    height: 100%;
    grid-template-areas: 
        'iconBus'
        'lblBus';
    grid-template-rows: 60% 40%;
}

.inventory_adjustment-icons-Buscar-icon {
    color: #F68A1D;
    grid-area: iconBus;
    padding-top: 4px;
}

#iconBusinvA {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblBuscarinvA {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblBus;
    text-align: center;
}

.inventory_adjustment-icons-registrar {
    display: grid;
    grid-area: btnRegistrar;
    height: 100%;
    grid-template-areas: 
        'iconReg'
        'lblReg';
    grid-template-rows: 60% 40%;
}

.inventory_adjustment-icons-registrar-icon {
    color: #F68A1D;
    grid-area: iconReg;
    padding-top: 4px;
}

#iconRegistrarinvA {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblRegistrarinvA {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblReg;
    text-align: center;
}

.inventory_adjustment-icons-anular {
    display: grid;
    grid-area: btnAnular;
    height: 100%;
    grid-template-areas: 
        'iconAnu'
        'lblAnu';
    grid-template-rows: 60% 40%;
}

.inventory_adjustment-icons-anular-icon {
    color: #F68A1D;
    grid-area: iconAnu;
    padding-top: 4px;
}

#iconAnularinvA {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblAnularinvA {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblAnu;
    text-align: center;
}

.inventory_adjustment-icons-cerrar {
    display: grid;
    grid-area: btnCerrar;
    height: 100%;
    grid-template-areas: 
        'iconCer'
        'lblCer';
    grid-template-rows: 60% 40%;
}

.inventory_adjustment-icons-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCer;
    padding-top: 4px;
}

#iconCerrarinvA {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarinvA {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCer;
    text-align: center;
}

.inventory_adjustment-icons-user {
    grid-area: user;
}

.inventory_adjustment-icons-user-label {
    background-color: #3D62DB;
    color: white;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 40px;
    width: 20%;
}