.consultDepositsDepositos-body-main {
    display: grid;
    height: 100%;
    grid-template-areas: 
        'header'
        'table';
    grid-template-rows: 25% 75%;
}

.consultDepositsDepositos-body-header {
    grid-area: header;
    display: grid;
    padding-left: 2%;
    grid-template-areas: 
        'numero banco cajero dates btn';
    grid-template-columns: 10% 20% 25% 20% 10%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

.consultDepositsDepositos-body-header-numero {
    grid-area: numero;
    display: grid;
    grid-template-areas: 
        'labelNumero'
        'inputsNumero';
    grid-template-rows: 30% 60%;
    border-right: 1px solid #dbd9d9;
}

.consultDepositsDepositos-body-header-numero-label {
    grid-area: labelNumero;
    display: grid;
    grid-template-areas: 
        'radioButtonNumero lblNumero';
    grid-template-columns: 10% 60%;
}

.consultDepositsDepositos-body-header-numero-label-radioButton {
    grid-area: radioButtonNumero;
    padding-top: 7px;
}

.consultDepositsDepositos-body-header-numero-label-text {
    grid-area: lblNumero;
    font-size: 15px;
    padding-top: 3px;
    padding-left: 15px;
    text-align: start;
}

.lblTitleNumeroConsultDeposits {
    font-size: 15px;
    padding-top: 5px;
    text-align: start;
}

.lblTitleNumeroConsultDeposits-Disabled {
    font-size: 15px;
    padding-top: 5px;
    text-align: start;
    text-decoration: line-through;
}

.consultDepositsDepositos-body-header-numero-input {
    grid-area: inputsNumero;
    text-align: start;
    padding-top: 5px;
}

#txtNumeroConsultDeposits {
    font-size: 15px;
    width: 80%;
    padding-left: 5px;
}

.consultDepositsDepositos-body-header-banco {
    grid-area: banco;
    display: grid;
    grid-template-areas: 
        'labelBanco'
        'inputsBanco';
    grid-template-rows: 30% 60%;
    border-right: 1px solid #dbd9d9;
}

.consultDepositsDepositos-body-header-banco-label {
    grid-area: labelBanco;
    display: grid;
    grid-template-areas: 
        'radioButtonBanco lblBanco';
    grid-template-columns: 15% 80%;
}

.consultDepositsDepositos-body-header-banco-label-radioButton {
    grid-area: radioButtonBanco;
    padding-top: 7px;
}

.consultDepositsDepositos-body-header-banco-label-text {
    grid-area: lblBanco;
    font-size: 15px;
    padding-top: 3px;
    text-align: start;
}

.lblTitleBancoConsultDeposits {
    font-size: 15px;
    padding-top: 5px;
    text-align: start;
}

.lblTitleBancoConsultDeposits-Disable {
    font-size: 15px;
    padding-top: 5px;
    text-align: start;
    text-decoration: line-through;
}

.consultDepositsDepositos-body-header-banco-input {
    grid-area: inputsBanco;
    text-align: start;
    padding-top: 5px;
}

#txtBancoConsultDeposits {
    font-size: 15px;
    width: 90%;
    margin-left: 15px;
    padding-left: 5px;
}

.consultDepositsDepositos-body-header-cajero {
    grid-area: cajero;
    display: grid;
    grid-template-areas: 
        'labelCajero'
        'inputsCajero';
    grid-template-rows: 30% 60%;
    border-right: 1px solid #dbd9d9;
}

.consultDepositsDepositos-body-header-cajero-label {
    grid-area: labelCajero;
    display: grid;
    grid-template-areas: 
        'radioButtonCajero lblCajero';
    grid-template-columns: 15% 60%;
}

.consultDepositsDepositos-body-header-cajero-label-radioButton {
    grid-area: radioButtonCajero;
    padding-top: 7px;
}

.consultDepositsDepositos-body-header-cajero-label-text {
    grid-area: lblCajero;
    padding-top: 3px;
    text-align: start;
}

#lblTitleCajeroConsultDeposits {
    font-size: 15px;
    padding-top: 5px;
    text-align: start;
}

.consultDepositsDepositos-body-header-cajero-input {
    grid-area: inputsCajero;
    text-align: start;
    padding-top: 5px;
}

#txtCajeroConsultDeposits {
    font-size: 15px;
    width: 90%;
    margin-left: 15px;
    padding-left: 5px;
}

.consultDepositsDepositos-body-header-dates {
    grid-area: dates;
    display: grid;
    grid-template-areas: 
        'labelDates'
        'inputsDates';
    grid-template-rows: 30% 60%;
    border-left: 1px solid #dbd9d9;
    border-right: 1px solid #dbd9d9;
}

.consultDepositsDepositos-body-header-dates-label {
    grid-area: labelDates;
    display: grid;
    grid-template-areas: 
        'radioButtonDates lblDates';
    grid-template-columns: 10% 60%;
}   

.consultDepositsDepositos-body-header-dates-label-radioButton {
    grid-area: radioButtonDates;
    padding-top: 7px;
}

.consultDepositsDepositos-body-header-dates-label-text {
    grid-area: lblDates;
    padding-top: 3px;
    padding-left: 5px;
    text-align: start;
}

#lblTitleDatesConsultDeposits {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
    text-align: start;
}

.consultDepositsDepositos-body-header-dates-inputs {
    grid-area: inputsDates;
    display: grid;
    grid-template-areas: 
        'inputDesdeDates inputHastaDates';
    grid-template-columns: 50% 50%;
    padding-top: 5px;
}

.consultDepositsDepositos-body-header-dates-inputs-desde {
    grid-area: inputDesdeDates;
    display: grid;
    grid-template-areas: 
        'labelDesde'
        'inputDesde';
    grid-template-rows: 50% 50%;
    padding-right: 10px;
    padding-left: 5px;
}

#lblDesdeDatesConsultDeposits {
    grid-area: labelDesde;
    padding-top: 3px;
    text-align: start;
    padding-left: 2px;
    font-size: 15px;
}

#txtDesdeDatesConsultDeposits {
    grid-area: inputDesde;
    color: black;
    font-size: 14px;
    text-align: start;
}

.consultDepositsDepositos-body-header-dates-inputs-hasta {
    grid-area: inputHastaDates;
    display: grid;
    grid-template-areas: 
        'labelHasta'
        'inputHasta';
    grid-template-rows: 50% 50%;
    padding-right: 10px;
}

.lblHastaDatesConsultDeposits {
    grid-area: labelHasta;
    padding-top: 3px;
    text-align: start;
    padding-left: 2px;
    font-size: 15px;
}

.lblHastaDatesConsultDeposits-Disabled {
    grid-area: labelHasta;
    padding-top: 3px;
    text-align: start;
    padding-left: 2px;
    font-size: 15px;
    text-decoration: line-through;
}

#txtHastaDatesConsultDeposits {
    grid-area: inputHasta;
    color: black;
    font-size: 14px;
    text-align: start;
}

.consultDepositsDepositos-body-header-btn {
    grid-area: btn;
}

.btnBuscarConsultDeposits {
    width: 90%;
    height: 30%;
    font-size: 15px;
    margin-top: 20%;
    background-color: $secundary;
    color: white;
    border: none;

    &:hover {
        background-color: $primary;
        color: white;
        cursor: pointer;
    }
}

.btnBuscarConsultDeposits-disable {
    width: 90%;
    height: 30%;
    font-size: 15px;
    margin-top: 20%;
    background-color: gray;
    color: white;
    border: none;

    &:hover {
        cursor: not-allowed;
    }
}

.consultDepositsDepositos-body-table {
    grid-area: table;
    display: grid;
    grid-template-areas: 
        'table'
        'buttons';
    grid-template-rows: 90% 10%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

.consultDepositsDepositos-body-table-main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    border-bottom: 1px solid gray;
    grid-area: table;
}

.consultDepositsDepositos-body-table-btns {
    display: grid;
    grid-area: buttons;
    grid-template-areas: 
        'labelPagina labelIrPagina labelMostrar btns';
    grid-template-columns: 10% 13% 8% 15%;
}

.consultDepositsDepositos-body-table-btns-Pagina {
    grid-area: labelPagina;
    height: 50%;
    margin-top: 5px;
    font-size: 15px;
}

.consultDepositsDepositos-body-table-btns-IrPagina {
    height: 100%;
    display: grid;
    grid-area: labelIrPagina;
    grid-template-areas: 
        'title input';
    grid-template-columns: 70% 30%;
}

.consultDepositsDepositos-body-table-btns-IrPagina-title {
    grid-area: title;
    padding-top: 5px;
}

.consultDepositsDepositos-body-table-btns-IrPagina-input {
    grid-area: input;
    padding-top: 5px;
}

.consultDepositsDepositos-body-table-btns-Mostrar {
    grid-area: labelMostrar;
    height: 100%;
    padding-top: 5px;
}

.consultDepositsDepositos-body-table-btns-buttons {
    grid-area: btns;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'first previous next last';
    grid-template-columns: 15% 35% 35% 15%;
}

.consultDepositsDepositos-body-table-btns-buttons-first {
    grid-area: first;
    padding-top: 5px;
}

#btnFistyConsultDepositsTable {
    border: none;
    border-radius: 10%;
    height: 80%;
    width: 80%;

    &:hover {
        cursor: pointer;
        background-color: $secundary;
    }
}

.consultDepositsDepositos-body-table-btns-buttons-previous {
    grid-area: previous;
    padding-top: 5px;
}

#btnPreviousConsultDepositsTable {
    border: none;
    border-radius: 10%;
    height: 80%;
    width: 80%;

    &:hover {
        cursor: pointer;
        background-color: $secundary;
    }
}

.consultDepositsDepositos-body-table-btns-buttons-next {
    grid-area: next;
    padding-top: 5px;
}

#btnNextConsultDepositsTable {
    border: none;
    border-radius: 10%;
    height: 80%;
    width: 80%;

    &:hover {
        cursor: pointer;
        background-color: $secundary;
    }
}

.consultDepositsDepositos-body-table-btns-buttons-last {
    grid-area: last;
    padding-top: 5px;
}

#btnLastConsultDepositsTable {
    border: none;
    border-radius: 10%;
    height: 80%;
    width: 80%;

    &:hover {
        cursor: pointer;
        background-color: $secundary;
    }
}

.consultDepositsDepositos-body-table-header-numero {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 100px;
}

.consultDepositsDepositos-body-table-header-banco {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 250px;
}

.consultDepositsDepositos-body-table-header-cajero {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 400px;
}

.consultDepositsDepositos-body-table-header-monto {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 150px;
}

// .consultDepositsDepositos-body-table-header-monto {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 100px;
// }

// .consultDepositsDepositos-body-table-header-estado {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 150px;
// }

// .consultDepositsDepositos-body-table-header-mensajeError {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 600px;
// }

.consultDepositsDepositos-body-table-body {
    text-align: start;
    font-style: normal;
}

.consultDepositsDepositos-body-table-row {
    &:hover {
        cursor: pointer;
        background-color: #ACA9A9;
    }
}

.consultDepositsDepositos-body-table-numero {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
    height: 25.5px;
}

.consultDepositsDepositos-body-table-banco {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
    height: 25.5px;
}

.consultDepositsDepositos-body-table-cajero {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
    height: 25.5px;
}

.consultDepositsDepositos-body-table-monto {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
    height: 25.5px;
}

// .consultDepositsDepositos-body-table-monto {
//     border: 1px solid #BFBCC1;
//     font-size: 15px;
//     padding-left: 5px;
//     text-align: start;
//     height: 25.5px;
// }

