.settings_icons-main {
    display: grid;
    grid-template-areas: 
        'btnNuevo btnRegistrar btnCerrar';
    grid-template-columns: 8% 8% 8%;
}

.settings_icons-nuevo {
    grid-area: btnNuevo;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconNue'
        'lblNue';
    grid-template-rows: 60% 40%;
}

.settings_icons-nuevo-icon {
    color: #F68A1D;
    grid-area: iconNue;
    padding-top: 4px;
}

#iconNuevoSe {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblNuevoSe {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblNue;
    text-align: center;
}

.settings_icons-registrar {
    grid-area: btnRegistrar;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconReg'
        'lblReg';
    grid-template-rows: 60% 40%;
}

.settings_icons-registrar-icon {
    color: #F68A1D;
    grid-area: iconReg;
    padding-top: 4px;
}

#iconRegistrarSe {
    cursor: pointer;
    height: 100%;
    width: 20%;
}

#lblRegistrarSe {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblReg;
    text-align: center;
}

.settings_icons-cerrar {
    grid-area: btnCerrar;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'iconCerrar'
        'lblCerrar';
    grid-template-rows: 60% 40%;
}

.settings_icons-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCerrar;
    padding-top: 4px;
}

#iconCerrarSe {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarSe {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCerrar;
    text-align: center;
}