.movementItems_main {
    background-color: #F4F8FB;
    display: grid;
    height: 100%;
    text-align: center;
    grid-template-areas: 
        'title'
        'body'
        'icons';
    grid-template-rows: 40px 448px 60px;
}

.movementItems_titles {
    grid-area: title;
    padding-top: 2px;
    background-color: #3D59A9;
}

#lblTitleMovementItems {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.movementItems_body {
    grid-area: body;
}

.movementItems_icons {
    grid-area: icons;
}
