.trackingQoutes-main {
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'header header header'
        'body body body'
        'footer footer footer';
    grid-template-rows: 130px 358px 60px;
}

.trackingQoutes-header {
    grid-area: header;
}

.trackingQoutes-body {
    grid-area: body;
}

.trackingQoutes-footer {
    grid-area: footer;
    border: 1px solid black;
}
