.downPayment_icons-main {
    display: grid;
    height: 100%;
    grid-template-areas: 
        'btnRegistrar btnBuscar  btnAnular btnCerrar user';
    grid-template-columns: 8% 8% 8% 8% 20%;
}

.downPayment_icons-Buscar {
    display: grid;
    grid-area: btnBuscar;
    height: 100%;
    grid-template-areas: 
        'iconBus'
        'lblBus';
    grid-template-rows: 60% 40%;
}

.downPayment_icons-Buscar-icon {
    color: #F68A1D;
    grid-area: iconBus;
    padding-top: 4px;
}

.downPayment_icons-Buscar-icon-disable {
    color: gray;
    grid-area: iconBus;
    padding-top: 4px;
}

.iconBusUsers {
    cursor: pointer;
    height: 100%;
    width: 20%;
}

.iconBusUsers-disable {
    cursor: not-allowed;
    height: 100%;
    width: 20%;
}

#lblBuscarAC {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblBus;
    text-align: center;
}

.downPayment_icons-registrar {
    display: grid;
    grid-area: btnRegistrar;
    height: 100%;
    grid-template-areas: 
        'iconReg'
        'lblReg';
    grid-template-rows: 60% 40%;
}

.downPayment_icons-registrar-icon {
    color: #F68A1D;
    grid-area: iconReg;
    padding-top: 4px;
}

.downPayment_icons-registrar-icon-disable {
    color: gray;
    grid-area: iconReg;
    padding-top: 4px;
}

.iconRegistrarUsers {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

.iconRegistrarUsers-disable {
    cursor: not-allowed;
    height: 100%;
    width: 25%;
}

#lblRegistrarAC {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblReg;
    text-align: center;
}

.downPayment_icons-anular {
    display: grid;
    grid-area: btnAnular;
    height: 100%;
    grid-template-areas: 
        'iconAnu'
        'lblAnu';
    grid-template-rows: 60% 40%;
}

.downPayment_icons-anular-icon {
    color: #F68A1D;
    grid-area: iconAnu;
    padding-top: 4px;
}

.downPayment_icons-anular-icon-disable {
    color: gray;
    grid-area: iconAnu;
    padding-top: 4px;
}

.iconAnularUsers {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

.iconAnularUsers-disable {
    cursor: not-allowed;
    height: 100%;
    width: 25%;
}

#lblAnularAC {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblAnu;
    text-align: center;
}

.downPayment_icons-cerrar {
    display: grid;
    grid-area: btnCerrar;
    height: 100%;
    grid-template-areas: 
        'iconCer'
        'lblCer';
    grid-template-rows: 60% 40%;
}

.downPayment_icons-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCer;
    padding-top: 4px;
}

#iconCerrarAC {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarAC {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCer;
    text-align: center;
}

.downPayment_icons-user {
    grid-area: user;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'labelUser'
        'inputsUser';
    grid-template-rows: 50% 50%;
}

.downPayment_icons-user-label {
    grid-area: labelUser;
    padding-top: 8px;
    padding-left: 10px;
}

#lblClaveInternaDownPaymentIcons {
    text-align: start;
    font-size: 15px;
}

.downPayment_icons-user-inputs {
    grid-area: inputsUser;
    display: grid;
    grid-template-areas: 
        'txt icon';
    grid-template-columns: 90% 10%;
}

.downPayment_icons-user-inputs-txt {
    grid-area: txt;
}

#txtClaveInternaDownPaymentIcons {
    width: 95%;
    text-align: start;
    font-size: 15px;
    padding-left: 5px;
}

.downPayment_icons-user-inputs-icon {
    grid-area: icon;
}

.iconEyeClaveInternaDownPaymentIcons {
    width: 100%;
    height: 70%;
    color: #F68A1D;

    &:hover {
        cursor: pointer;
        color: $primary;
    }
}

.iconEyeClaveInternaDownPaymentIcons-disable {
    width: 100%;
    height: 70%;
    color: gray;

    &:hover {
        cursor: not-allowed;
    }
}