.pretake_icons-main {
    display: grid;
    height: 100%;
    grid-template-areas: 
        'btnRegistrar btnBuscar btnAnular btnCerrar';
    grid-template-columns: 8% 8% 8% 8%;
}

.pretake_icons-registrar {
    display: grid;
    grid-area: btnRegistrar;
    height: 100%;
    grid-template-areas: 
        'iconReg'
        'lblReg';
    grid-template-rows: 60% 40%;
}

.pretake_icons-registrar-icon {
    color: #F68A1D;
    grid-area: iconReg;
    padding-top: 4px;
}

#iconRegistrarPretake {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblRegistrarPretake {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblReg;
    text-align: center;
}

.pretake_icons-Buscar {
    display: grid;
    grid-area: btnBuscar;
    height: 100%;
    grid-template-areas: 
        'iconBus'
        'lblBus';
    grid-template-rows: 60% 40%;
}

.pretake_icons-Buscar-icon {
    color: #F68A1D;
    grid-area: iconBus;
    padding-top: 4px;
}

#iconBusPretake {
    cursor: pointer;
    height: 100%;
    width: 20%;
}

#lblBuscarPretake {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblBus;
    text-align: center;
}

.pretake_icons-anular {
    display: grid;
    grid-area: btnAnular;
    height: 100%;
    grid-template-areas: 
        'iconAnu'
        'lblAnu';
    grid-template-rows: 60% 40%;
}

.pretake_icons-anular-icon {
    color: #F68A1D;
    grid-area: iconAnu;
    padding-top: 4px;
}

#iconAnularPretake {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblAnularPretake {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblAnu;
    text-align: center;
}

.pretake_icons-cerrar {
    display: grid;
    grid-area: btnCerrar;
    height: 100%;
    grid-template-areas: 
        'iconCer'
        'lblCer';
    grid-template-rows: 60% 40%;
}

.pretake_icons-cerrar-icon {
    color: #F68A1D;
    grid-area: iconCer;
    padding-top: 4px;
}

#iconCerrarPretake {
    cursor: pointer;
    height: 100%;
    width: 25%;
}

#lblCerrarPretake {
    font-size: 14px;
    font-weight: 600;
    grid-area: lblCer;
    text-align: center;
}