.inventory_body-featuresLotes {
    border: 1px solid black;
    height: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.inventory_body-featuresLotes-table-main {
    width: 100%;
}

.inventory_body-featuresLotes-table-header-lote {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.inventory_body-featuresLotes-table-header-existencia {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.inventory_body-featuresLotes-table-header-vencimiento {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.inventory_body-featuresLotes-table-lote {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.inventory_body-featuresLotes-table-existencia {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.inventory_body-featuresLotes-table-vencimiento {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}
