.inventory_body-featuresDetalle {
    border: 1px solid black;
    height: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.inventory_body-featuresDetalle-table-main {
    width: 100%;
}

.inventory_body-featuresDetalle-table-header-costo {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.inventory_body-featuresDetalle-table-header-proveedor {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 15%;
}

.inventory_body-featuresDetalle-table-header-moneda {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.inventory_body-featuresDetalle-table-costo {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.inventory_body-featuresDetalle-table-proveedor {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.inventory_body-featuresDetalle-table-moneda {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}
