.inventory_body-featuresRelacionados {
    background-color: #F0F0F0;
    display: grid;
    height: 100%;
    padding-top: 5px;
    grid-template-areas: 
        'inputs'
        'table';
    grid-template-rows: 30% 70%;
}

.inventory_body-featuresRelacionados-inputs {
    display: grid;
    grid-area: inputs;
    height: 100%;
    grid-template-areas: 
        'codigo descrip cantidad btn';
    grid-template-columns: 20% 45% 15% 20%;
}

.inventory_body-featuresRelacionados-inputs-codigo {
    display: grid;
    grid-area: codigo;
    height: 100%;
    grid-template-areas: 
        'lblCodigo'
        'inputCodigo';
    grid-template-rows: 40% 60%;
}

#lblCodigoFeaturesRelacionadosInv {
    color: #4184E8;
    font-size: 15px;
    grid-area: lblCodigo;
    margin-left: 20px;
    padding-top: 2px;
    text-align: start;
}

.inventory_body-featuresRelacionados-inputs-codigo-inputs {
    display: grid;
    grid-area: inputCodigo;
    height: 100%;
    grid-template-areas: 
        'txt icon';
    grid-template-columns: 80% 20%;
}

.inventory_body-featuresRelacionados-inputs-codigo-inputs-input {
    grid-area: txt;
}

#txtCodigoFeaturesRelacionadosInv {
    font-size: 15px;
    height: 75%;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
}

.inventory_body-featuresRelacionados-inputs-codigo-inputs-icon {
    grid-area: icon;
    padding-top: 5px;
}

.iconSearchCodigoArticulosRelaciones {
    color: $secundary;
    
    &:hover {
        cursor: pointer;
    }
}

.iconSearchCodigoArticulosRelacionesDisable {
    color: gray;

    &:hover {
        cursor: not-allowed;
    }
}

.inventory_body-featuresRelacionados-inputs-descrip {
    display: grid;
    grid-area: descrip;
    height: 100%;
    grid-template-areas: 
        'lblDescrip'
        'inputDescrip';
    grid-template-rows: 40% 60%;
}

#lblDescripFeaturesRelacionadosInv {
    color: #4184E8;
    font-size: 15px;
    grid-area: lblDescrip;
    margin-left: 10px;
    padding-top: 2px;
    text-align: start;
}

#txtDescripFeaturesRelacionadosInv {
    font-size: 15px;
    grid-area: inputDescrip;
    height: 75%;
    margin-left: 10px;
    margin-right: 20px;
    text-align: start;
}

.inventory_body-featuresRelacionados-inputs-cantidad {
    display: grid;
    grid-area: cantidad;
    height: 100%;
    grid-template-areas: 
        'lblCantidad'
        'inputCantidad';
    grid-template-rows: 40% 60%;
}

#lblCantidadFeaturesRelacionadosInv {
    color: #4184E8;
    font-size: 15px;
    grid-area: lblCantidad;
    margin-left: 10px;
    padding-top: 2px;
    text-align: start;
}

#txtCantidadFeaturesRelacionadosInv {
    font-size: 15px;
    grid-area: inputCantidad;
    height: 75%;
    margin-left: 10px;
    margin-right: 20px;
    width: 75%;
    text-align: start;
}

.inventory_body-featuresRelacionados-inputs-btn {
    display: grid;
    grid-area: btn;
    height: 100%;
    grid-template-areas: 
        'btnAdd btnDelete';
    grid-template-columns: 65% 35%;
}

.inventory_body-featuresRelacionados-inputs-btn-add {
    grid-area: btnAdd;
}

.inventory_body-featuresRelacionados-inputs-btn-add-button {
    color: #4184E8;
    font-size: 15px;
    height: 50%;
    width: 90%;
    margin-top: 20px;
    text-align: center;

    &:hover {
        cursor: pointer;
        background-color: #4184E8;
        color: white;
    }
}

.inventory_body-featuresRelacionados-inputs-btn-add-button-disable {
    color: gray;
    font-size: 15px;
    height: 50%;
    width: 90%;
    margin-top: 20px;
    text-align: center;
    cursor: not-allowed;
}

.inventory_body-featuresRelacionados-inputs-btn-delete {
    grid-area: btnDelete;
    margin-top: 10px;
}

.iconDeleteRTable {
    cursor: pointer;
    height: 100%;
    width: 50%;
    color: red;
}

.iconDeleteRTableDisable {
    cursor: not-allowed;
    height: 100%;
    width: 50%;
    color: gray;
}

.inventory_body-featuresRelacionados-table {
    border: 1px solid black;
    grid-area: table;
    height: 95%;
    margin-left: 20px;
    margin-right: 10px;
}

// .inventory_body-featuresRelacionados-table-main {
//     width: 100%;
// }

// .inventory_body-featuresRelacionados-table-header-codigo {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 5%;
// }

// .inventory_body-featuresRelacionados-table-header-descrip {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 5%;
// }

// .inventory_body-featuresRelacionados-table-header-cantidad {
//     background-color: #BFBCC1;
//     padding-left: 5px;
//     text-align: start;
//     width: 5%;
// }

// .inventory_body-featuresRelacionados-table-codigo {
//     border: 1px solid #BFBCC1;
//     font-size: 15px;
//     padding-left: 5px;
//     text-align: start;
// }

// .inventory_body-featuresRelacionados-table-descrip {
//     border: 1px solid #BFBCC1;
//     font-size: 15px;
//     padding-left: 5px;
//     text-align: start;
// }

// .inventory_body-featuresRelacionados-table-cantidad {
//     border: 1px solid #BFBCC1;
//     font-size: 15px;
//     padding-left: 5px;
//     text-align: start;
// }

.inventory_body-featuresRelacionados-table-table {
    // background-color: red;
    width: 95%;
    height: 100%;
    margin-left: 10px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    border: 1px solid black;
}

.inventory_body-featuresRelacionados-table-header {
    background-color: #ACA9A9;
    text-align: start;
    padding-left: 5px;
    width: 300px;
}

.inventory_body-featuresRelacionados-table-body {
    text-align: start;
    font-style: normal;
}

.inventory_body-featuresRelacionados-table-body-row {
    &:hover {
        cursor: pointer;
        background-color: #ACA9A9;
    }
}

.inventory_body-featuresRelacionados-table-body-row-disable {
    &:hover {
        cursor: not-allowed;
    }
}

.inventory_body-featuresRelacionados-table-body-row-seleted {

    background-color: $primary;

    &:hover {
        cursor: pointer;
        background-color: #ACA9A9;
    }
}

.inventory_body-featuresRelacionados-table-body-cell {
    padding-left: 5px;
    border-bottom: 1px solid #ACA9A9;
    // cursor: pointer;
}