.generateDeposits-main {
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-areas: 
        'header'
        'body'
        'icons';
    grid-template-rows: 45px 443px 60px;
}

.generateDeposits-main-header {
    grid-area: header;
    background-color: #3D59A9;
}

#lblTitleGenerateDeposits {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

.generateDeposits-main-body {
    grid-area: body;
}

.generateDeposits-main-icons {
    grid-area: icons;
    border: 1px solid #3D59A9;
}
