.customers_body-refComer-main {
    border: 1px solid black;
    height: 93%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.customers_body-refComer-table-main {
    width: 100%;
}

.customers_body-refComer-table-header-empresa {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refComer-table-header-telefono {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refComer-table-header-monto {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refComer-table-empresa {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.customers_body-refComer-table-telefono {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.customers_body-refComer-table-monto {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}


.customers_body-refBan-table-header-cuenta {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refBan-table-header-sucursal {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refBan-table-header-banco {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refBan-table-header-fecha {
    background-color: #BFBCC1;
    padding-left: 5px;
    text-align: start;
    width: 5%;
}

.customers_body-refBan-table-cuenta {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.customers_body-refBan-table-sucursal {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.customers_body-refBan-table-banco {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}

.customers_body-refBan-table-fecha {
    border: 1px solid #BFBCC1;
    font-size: 15px;
    padding-left: 5px;
    text-align: start;
}